@import "./Variables/Variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Julius Sans One", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  caret-color: rgba(0, 0, 0, 0);
}

.intro,
.aboutme,
.projects--container,
.contact-container {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-color: $rgba-primary-4;
  color: white;
  top: 0;
}

/////Intro page/////////////////////////////////////////////////////

.introduction {
  top: 30%;
  position: relative;
  width: 80%;
  margin: auto;
  font-size: 40px;
}

.I {
  margin-left: 3rem;
}

.nameTitle {
  font-size: 30px;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-right: 2rem;
}

.title {
  padding-top: 0.2em;
}

/////nav and socialbar///////////////////////////////////////////

.nav {
  background-color: white;
  padding: 1.1em;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;
}

.nav > ul,
.socialbar {
  font-size: larger;
  font-weight: 600;
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  gap: 1em;
  color: $rgba-primary-4;
}

.nav ul li,
.nav ul li:after,
.nav ul li:before,
.socialIcon:after,
.socialIcon,
.socialIcon:before {
  transition: all 0.5s;
  position: relative;
}

.nav ul li:hover,
.socialIcon:hover {
  color: #33b3ff;
}

.nav ul li:after {
  position: absolute;
  top: 0.5em;
  bottom: 0;
  left: 0.4em;
  right: 0;
  margin: auto;
  width: 0%;
  content: ". . . . . . . . .";
  color: transparent;
  height: 1px;
}

.socialIcon:after {
  position: absolute;
  top: 0em;
  bottom: 0;
  left: 0em;
  right: 0;
  margin: auto;
  width: 0%;
  content: "______";
  color: transparent;
  height: 1px;
}

.nav ul li:hover:after,
.socialIcon:hover:after {
  width: 100%;
  color: black;
}

.socialbar {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 7%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 64px;
  margin: 0;
  right: 0;
  top: 0;
}

.smallIcon {
  object-fit: fill;
  height: 48px;
  width: 48px;
}

/////Project Section//////////////////////////////////////////

.projectTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: medium;
}

.projectDescription {
  font-size: small;
  margin: 1em 0;
}

.projects--div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  gap: 1em;
  margin-right: 4em;
}

.projects--img {
  height: 300px;
  object-fit: fill;
  padding: 0 4px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1em;
}

.project--title {
  margin: 4em 2em 2em;
  text-align: center;
}

.projects--img .calculator {
  height: 300px;
  width: auto;
  padding: 0 4px;
  margin-bottom: 1em;
}

/// about me section////////////////////////////////////////////

.aboutme {
  text-align: justify;
}

.aboutme--title {
  font-family: "Rubik Dirt", cursive;
  font-weight: 400;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 20%;
  left: 2%;
}

.tags {
  position: absolute;
  display: inline-flex;
  bottom: 15%;
  right: 30%;
  font-size: 2rem;
}

.tagItems {
  text-transform: uppercase;
}

.aboutParagraph {
  position: absolute;
  width: 50%;
  vertical-align: middle;
  right: 8%;
  top: 50%;
}

@media (max-width: 600px) {
  .nav {
    position: fixed;
  }
  .nav ul {
    transform: translateX(-8%);
  }
  .socialbar {
    width: 12%;
    height: 100%;
    position: fixed;
  }

  .introduction {
    font-size: 20px;
    width: auto;
    margin-left: 1rem;
  }

  .nameTitle {
    font-size: 20px;
    margin: 0rem 3rem;
  }

  .aboutParagraph {
    position: relative;
    transform: translateX(25%);
    width: 70%;
    font-weight: 800;
  }

  .tags {
    position: relative;
    left: 10%;
    bottom: -55%;
    font-weight: 800;
  }

  .projects--container {
    overflow: auto;
  }

  .projects--div {
    display: flex;
    flex-direction: column;
    width: auto;
    overflow: scroll;
  }

  .projects--img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .projectDescription,
  .projectTitle {
    text-align: center;
  }
}

// @media (min-width: 2000px) {
//   .tags {
//     overflow: hidden;
//   }
// }
