$blackColor: rgb(24, 24, 24);
$whiteColor: rgb(232, 232, 232);

$rgba-primary-0: rgba(45, 70, 113, 1); // Main Primary color */
$rgba-primary-1: rgba(159, 189, 240, 1);
$rgba-primary-2: rgba(87, 115, 164, 1);
$rgba-primary-3: rgba(16, 33, 61, 1);
$rgba-primary-4: rgba(1, 5, 10, 1);
